@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Caveat&family=Dancing+Script&family=Indie+Flower&family=Lilita+One&family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,700;1,600&family=Roboto+Slab:wght@300;700&family=Sigmar&family=Tangerine&display=swap');

#content{
    Max-width: 1600px;
    margin: 0 auto;
}

nav a, #hero-msg h1, #hero-msg h4, .button-box, main{
    text-align: center;
}

#hero-img{
    width: 100%;
}

#background {
    height: 725px
}

body {
    background-color: aquamarine;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(136, 139, 141);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a{
    color:rgb(18, 89, 148);
    text-align: center;
    color:rgb(216, 216, 216);
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: rgb(77, 95, 102);
    color:rgb(28, 194, 100);
}

.logo{
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.book, .join {
    background-color: rgba(157, 200, 206, 0.644);
    color:lightgoldenrodyellow;
    text-align: center;
    color:rgb(224, 224, 224);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: rgb(174, 213, 248);
    color: gray;
}

#background{
    background-color: rgb(138, 228, 228);
}

h2{
    color: steelblue;
    font-family: 'Bruno Ace', 'Lilita', "Indie Flower";
    margin: 0;
}

.msg{
    background-color: rgb(38, 211, 145);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: rgb(255, 199, 208);
    font-family: 'Times New Roman', Times, serif;
}

.msg p{
    color: lightgoldenrodyellow;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: rgb(38, 211, 145);
    color: steelblue;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color: rgb(216, 216, 216);
    text-align: center;
    color:rgb(216, 216, 216);
    text-decoration: none;
}

footer a:hover{
    color: snow;
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}

.home-title{
    color:rgb(32, 181, 207);
    font-size: 2em;
    font-family: 'Bruno Ace', 'Lilita One', "Indie Flower"  ;
    margin-top: 10px;
}

h4{
    color:lightskyblue;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img{
    border: 10px solid grey;
}

main section img {
    box-sizing: border-box;
}