@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Indie+Flower&family=Lilita+One&family=Lilita&family=Open+Sans');

/*:root {
    max-width: 300px;
}*/

.opensans{
    font-family: "Open Sans", serif, Helvetica, 'Lilita One';
}

.content{
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 4fr 1fr;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.img{
    grid-row: 1/2;
    grid-column: 1/4;
    justify-self: center;
}

.item1{
    grid-row: 3/4;
    grid-column: 1/2;
}

.item2{
    grid-row: 3/4;
    grid-column: 2/4;
}

.item3{
    grid-row: 3/4;
    grid-column: 3/4;
}